<ul class='navigation'>
  <li><a href='/'>Screenshots</a></li>
  <li>
    <form class='update' method='post' action='/take'>
      <div><button title='This will take a while!' class='link' type='submit'><span>Update now</span></button></div>
    </form>
  </li>
</ul>
