<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Screenshots</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/main.css' />
  </head>
  <body>
    <h1>Screenshots</h1>
    <%= erb :_navigation %>

    <div class='images'>
      <%= render_images %>
    </div>
  </body>
</html>
